footer{
  border-top: 0.1rem solid black;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin-top: 6rem;
}
.footer-logo{
  max-width: 25%;
}